USE [master]
GO

CREATE DATABASE [GalaxyMobile]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GalaxyMobile', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\GalaxyMobile.mdf' , SIZE = 4416KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'GalaxyMobile_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\GalaxyMobile_log.ldf' , SIZE = 896KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GalaxyMobile].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GalaxyMobile]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[delNV]
	@manv varchar(10)
AS
BEGIN
DELETE FROM NhanVien
WHERE MaNV = @manv
END

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[GetLNV]
AS
BEGIN
	select *
	from LoaiNV
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[InHoaDon]
@idhd varchar(15), @idch varchar(10)
as
begin
	select ct.MaKieu as [Mã Sản Phẩm],sp.TenSP as [Tên Sản Phẩm],mau.Mau as [Màu Sắc],ct.GiaSP as [Giá], ct.SoluongSP[Số Lượng Mua],ct.SoluongSP*ct.GiaSP as [Tổng Tiền]
	from ((ChiTietHoaDon ct join ChiTietSP ctsp on ct.MaKieu=ctsp.MaKieu ) join SanPham sp on sp.MaSP= ctsp.MaSP )join MauSP mau on mau.MaMau = ctsp.MaMau
	 where ct.MaHoaDon=@idhd and ct.MaCuaHang=@idch
end

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spDelKH]
	@ma varchar(10)
as
begin 
delete from KhachHang
where MaKH=@ma 
end

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spGetKH]
as
begin 
	select *
	from KhachHang
end

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spInsertKH]
	@ma varchar(10),
	@ten nvarchar(50),
	@diachi nvarchar(100),
	@sdt varchar(13)
as
begin
insert into KhachHang(MaKH,TenKH,DiaChi,SDT)
values (@ma,@ten,@diachi,@sdt)
end

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spSPBanDuoc]
@ten varchar(10)
as
select sum(ct.SoluongSP) as 'SoLuong',sp.TenSP
from ChiTietHoaDon ct join ChiTietSP csp on ct.MaKieu=csp.MaKieu join SanPham sp on csp.MaSP=sp.MaSP
where ct.MaCuaHang = @ten
group by sp.TenSP
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[spSPBanDuocTheoThoiGian]
@ten varchar(10),@date date ,@date2 date
as
begin
   
	select sum(ct.SoluongSP) as 'SoLuong',sp.TenSP
	from ChiTietHoaDon ct join ChiTietSP csp on ct.MaKieu=csp.MaKieu join SanPham sp on csp.MaSP=sp.MaSP join HoaDon hd on hd.MaHoaDon=ct.MaHoaDon
	where ct.MaCuaHang = @ten and @date <= hd.NgayLapHD and @date2 >=hd.NgayLapHD
	group by sp.TenSP
	
end

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spSPBanDuocTrongNgay]
@ten varchar(10),@date date 
as
begin
   
	select sum(ct.SoluongSP) as 'SoLuong',sp.TenSP
	from ChiTietHoaDon ct join ChiTietSP csp on ct.MaKieu=csp.MaKieu join SanPham sp on csp.MaSP=sp.MaSP join HoaDon hd on hd.MaHoaDon=ct.MaHoaDon
	where ct.MaCuaHang = @ten and @date = hd.NgayLapHD 
	group by sp.TenSP
	
end

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[spThemNV]
	@manv varchar(10),
	@macuahang varchar(10),
	@maloainv varchar(15),
	@tennv nvarchar(50),
	@gioitinh nvarchar(5),
	@diachi nvarchar(100),
	@sdt varchar(13),
	@luong decimal(18,0)
AS
BEGIN
INSERT INTO NhanVien(MaNV,MaCuaHang,MaLoaiNV,TenNV,GioiTinh,DiaChi,SDT,Luong)
VALUES (@manv,@macuahang,@maloainv,@tennv,@gioitinh,@diachi,@sdt,@luong)
END



GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spUpdateKH]
	@ma varchar(10),
	@ten nvarchar(50),
	@diachi nvarchar(100),
	@sdt varchar(13)
as
begin 
update KhachHang
set TenKH=@ten,DiaChi=@diachi,SDT=@sdt
where MaKH=@ma
end

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[updateNV]
	@manv varchar(10),
	@macuahang varchar(10),
	@maloainv varchar(15),
	@tennv nvarchar(50),
	@gioitinh nvarchar(5),
	@diachi nvarchar(100),
	@sdt varchar(13),
	@luong decimal(18,0)
AS
BEGIN
UPDATE NhanVien
SET MaCuaHang=@macuahang,MaLoaiNV=@maloainv,TenNV=@tennv,GioiTinh=@gioitinh,DiaChi=@diachi,SDT=@sdt,Luong=@luong
WHERE MaNV=@manv
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_DeleteCTSP]
@id  varchar(50)
as
begin
	Delete ChiTietSP  where MaKieu = @id
end

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[USP_GetAllCuaHang]
as
begin
	select u.MaCuaHang,u.TenCuaHang,u.DiaChi
	from CuaHang u
end

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_GETAllInfoSP]
@id  varchar(50)
as
begin
	select lsp.MaLSP, dsp.MaDSP,dsp.MaHSX,sp.MaSP,ctsp.MaKieu,ctsp.SoluongSP,ctsp.Gia
	from (( LoaiSP lsp join DongSanPham dsp on lsp.MaLSP = dsp.MaLSP ) join SanPham sp on sp.MaDSP= dsp.MaDSP) join ChiTietSP ctsp on ctsp.MaSP = sp.MaSP
	where ctsp.MaKieu = @id
end

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_GETAllInfoSPNew]
@id  varchar(50)
as
begin
	select lsp.TenLSP, dsp.TenDong,sp.TenSP,ctsp.MaKieu,ctsp.SoluongSP,ctsp.Gia,hsx.TenHSX
	from ((( LoaiSP lsp join DongSanPham dsp on lsp.MaLSP = dsp.MaLSP ) join SanPham sp on sp.MaDSP= dsp.MaDSP) join ChiTietSP ctsp on ctsp.MaSP = sp.MaSP)join HSX hsx on hsx.MaHSX = dsp.MaHSX
	where ctsp.MaKieu = @id
end

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_GetAllKhoHang]
as
begin
	select k.MaCuaHang,k.MaKieu,k.SoLuong
	from KhoHang k
end 

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[USP_GetCTSPOderByMaCHByMaKieu]
@idch  varchar(10) , 
@id  varchar(50)
as
begin
select ct.MaSP,ct.MaKieu,ct.MaMau,ct.Gia,k.SoLuong as [SoluongSP],ct.Anh
	from ChiTietSP ct join KhoHang k on k.MaKieu=ct.MaKieu
	where k.MaCuaHang = @idch and ct.MaKieu=@id
end

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[USP_GetCTSPOderByMaCHByMaSP]
@idch  varchar(10) , 
@id  varchar(30)
as
begin
select ct.MaSP,ct.MaKieu,ct.MaMau,ct.Gia,k.SoLuong as [SoluongSP],ct.Anh
	from ChiTietSP ct join KhoHang k on k.MaKieu=ct.MaKieu
	where k.MaCuaHang = @idch and ct.MaSP=@id
end

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_GetHDTheoThang]
@date int
as
begin
	select *
	from HoaDon 
	where  MONTH( NgayLapHD) = @date
end

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_PhanChiaSP]
@id varchar(50), @idNhap varchar(10) ,@idPP varchar(10),@SL int
as
begin
	Update KhoHang set SoLuong+=@SL where @id=MaKieu and @idNhap=MaCuaHang
	Update KhoHang set SoLuong-=@SL where @id=MaKieu and @idPP=MaCuaHang
end

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_ThayDoiGiaChiTietSP]
@id varchar(50), @Gia decimal 
as
begin
	update ChiTietSP set Gia= @Gia where MaKieu=@id
end
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_ThayDoiSLChiTietHoaDon]
 @idhd varchar(15),@idch varchar(10) , @id varchar(50), @SL int 
as
begin
	update ChiTietHoaDon set SoluongSP+= @SL where MaKieu=@id and MaCuaHang=@idch and MaHoaDon=@idhd
end

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_ThayDoiSoLuongChiTietSP]
@id varchar(50), @sl int 
as
begin
	update ChiTietSP set SoluongSP= SoluongSP+@sl where MaKieu=@id
end

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_ThemCTSP_KhoHang_LanDauByMaKieuByMaCH]
@id varchar(50),  @idCH varchar(10)
as
begin
	Update KhoHang set SoLuong=0 where @id=MaKieu and @idCH=MaCuaHang
end

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_ThemSL_KhoHangByMaKieuByMaCH]
@id varchar(50),  @idCH varchar(10), @SL int
as
begin
	Update KhoHang set SoLuong+=@SL where @id=MaKieu and @idCH=MaCuaHang
end

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ChiTietHDNhapHang](
	[MaHoaDonNH] [varchar](10) NOT NULL,
	[MaKieu] [varchar](50) NOT NULL,
	[SoLuongNhap] [int] NOT NULL,
	[GiaNSX] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_ChiTietHDNhapHang] PRIMARY KEY CLUSTERED 
(
	[MaHoaDonNH] ASC,
	[MaKieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHoaDon] [varchar](15) NOT NULL,
	[MaKieu] [varchar](50) NOT NULL,
	[MaCuaHang] [varchar](10) NOT NULL,
	[SoluongSP] [int] NOT NULL,
	[GiaSP] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC,
	[MaKieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ChiTietSP](
	[MaSP] [varchar](30) NOT NULL,
	[MaKieu] [varchar](50) NOT NULL,
	[MaMau] [varchar](20) NOT NULL,
	[Gia] [decimal](18, 2) NOT NULL,
	[SoluongSP] [int] NOT NULL,
	[Anh] [image] NULL,
 CONSTRAINT [PK_ChiTietSP_1] PRIMARY KEY CLUSTERED 
(
	[MaKieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CuaHang](
	[MaCuaHang] [varchar](10) NOT NULL,
	[TenCuaHang] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_CuaHang] PRIMARY KEY CLUSTERED 
(
	[MaCuaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DongSanPham](
	[MaDSP] [nvarchar](50) NOT NULL,
	[TenDong] [nvarchar](100) NOT NULL,
	[MaHSX] [varchar](15) NOT NULL,
	[MaLSP] [varchar](10) NOT NULL,
 CONSTRAINT [PK_DongSanPham] PRIMARY KEY CLUSTERED 
(
	[MaDSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GiaoHang](
	[MaHoaDon] [varchar](15) NOT NULL,
	[MaCuaHang] [varchar](10) NOT NULL,
	[MaNVGH] [varchar](10) NOT NULL,
	[NgayGiaoHang] [date] NOT NULL,
	[TinhTrangGH] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_GiaoHang] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC,
	[MaCuaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [varchar](15) NOT NULL,
	[MaKH] [varchar](10) NOT NULL,
	[MaNV] [varchar](10) NOT NULL,
	[MaCuaHang] [varchar](10) NOT NULL,
	[TinhTrang] [int] NOT NULL,
	[HTGiaoHang] [nvarchar](20) NOT NULL,
	[NgayLapHD] [date] NOT NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC,
	[MaCuaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HoaDonNhapHang](
	[MaHoaDonNH] [varchar](10) NOT NULL,
	[MaNV] [varchar](10) NOT NULL,
	[NgayNhapHang] [date] NOT NULL,
 CONSTRAINT [PK_HoaDonNhapHang] PRIMARY KEY CLUSTERED 
(
	[MaHoaDonNH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HSX](
	[MaHSX] [varchar](15) NOT NULL,
	[TenHSX] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_HSX] PRIMARY KEY CLUSTERED 
(
	[MaHSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [varchar](10) NOT NULL,
	[TenKH] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
	[SDT] [varchar](13) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KhoHang](
	[MaKieu] [varchar](50) NOT NULL,
	[MaCuaHang] [varchar](10) NOT NULL,
	[SoLuong] [int] NOT NULL,
 CONSTRAINT [PK_KhoHang] PRIMARY KEY CLUSTERED 
(
	[MaKieu] ASC,
	[MaCuaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LoaiNV](
	[MaLoaiNV] [varchar](15) NOT NULL,
	[TenLoaiNV] [nvarchar](20) NULL,
 CONSTRAINT [PK_LoaiNV] PRIMARY KEY CLUSTERED 
(
	[MaLoaiNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LoaiSP](
	[MaLSP] [varchar](10) NOT NULL,
	[TenLSP] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_LoaiSP] PRIMARY KEY CLUSTERED 
(
	[MaLSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LoaiTaiKhoan](
	[MaLoaiTK] [varchar](10) NOT NULL,
	[TenLoaiTK] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_LoaiTaiKhoan] PRIMARY KEY CLUSTERED 
(
	[MaLoaiTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MauSP](
	[MaMau] [varchar](20) NOT NULL,
	[Mau] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MauSP] PRIMARY KEY CLUSTERED 
(
	[MaMau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [varchar](10) NOT NULL,
	[MaCuaHang] [varchar](10) NOT NULL,
	[MaLoaiNV] [varchar](15) NOT NULL,
	[TenNV] [nvarchar](50) NOT NULL,
	[GioiTinh] [nvarchar](5) NOT NULL,
	[DiaChi] [nvarchar](100) NULL,
	[SDT] [varchar](13) NULL,
	[Luong] [decimal](18, 0) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [varchar](30) NOT NULL,
	[TenSP] [nvarchar](30) NOT NULL,
	[CPU] [nvarchar](100) NOT NULL,
	[Ram] [varchar](10) NULL,
	[BoNhoTrong] [varchar](10) NULL,
	[BoNhoNgoai] [nvarchar](50) NULL,
	[Sim] [nvarchar](50) NULL,
	[ManHinh] [nvarchar](50) NULL,
	[DungLuongPin] [nvarchar](50) NULL,
	[Camera] [nvarchar](60) NULL,
	[CardManHinh] [nvarchar](50) NULL,
	[OS] [varchar](20) NULL,
	[Port] [nvarchar](50) NULL,
	[TrongLuong] [varchar](20) NULL,
	[ThongTinKhac] [nvarchar](100) NULL,
	[MaDSP] [nvarchar](50) NOT NULL,
	[NămSX] [varchar](10) NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[UserName] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](20) NOT NULL,
	[MaCuaHang] [varchar](10) NOT NULL,
	[MaLoaiTK] [varchar](10) NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[ChiTietHDNhapHang] ([MaHoaDonNH], [MaKieu], [SoLuongNhap], [GiaNSX]) VALUES (N'00001', N'ipX256Gray', 1000, CAST(32000000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietHDNhapHang] ([MaHoaDonNH], [MaKieu], [SoLuongNhap], [GiaNSX]) VALUES (N'00001', N'ipX256Silver', 1000, CAST(31500000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietHDNhapHang] ([MaHoaDonNH], [MaKieu], [SoLuongNhap], [GiaNSX]) VALUES (N'00002', N'ipX64Silver', 100, CAST(11111111.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietHoaDon] ([MaHoaDon], [MaKieu], [MaCuaHang], [SoluongSP], [GiaSP]) VALUES (N'aa', N'abc1', N'cs2', 12, CAST(13.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietHoaDon] ([MaHoaDon], [MaKieu], [MaCuaHang], [SoluongSP], [GiaSP]) VALUES (N'af', N'abc1', N'cs2', 10, CAST(13.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietHoaDon] ([MaHoaDon], [MaKieu], [MaCuaHang], [SoluongSP], [GiaSP]) VALUES (N'hd0001', N'ipX256Gray', N'cs1', 1, CAST(12000000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietSP] ([MaSP], [MaKieu], [MaMau], [Gia], [SoluongSP], [Anh]) VALUES (N'abc', N'abc1', N'blue', CAST(13.00 AS Decimal(18, 2)), 88, NULL)
INSERT [dbo].[CuaHang] ([MaCuaHang], [TenCuaHang], [DiaChi]) VALUES (N'cs1', N'Galaxy Mobile 1', N'4 Hồ Bá Phấn')
INSERT [dbo].[CuaHang] ([MaCuaHang], [TenCuaHang], [DiaChi]) VALUES (N'cs2', N'Galaxy Mobile 2', N'1268 Định Hòa, Thủ Dầu Một,Tỉnh Bình Dương')
INSERT [dbo].[CuaHang] ([MaCuaHang], [TenCuaHang], [DiaChi]) VALUES (N'ts', N'Galaxy Center', N'1 Võ Văn Ngân, Thủ Đức, Tp.HCM')
INSERT [dbo].[DongSanPham] ([MaDSP], [TenDong], [MaHSX], [MaLSP]) VALUES (N'AB', N'AB', N'a', N'dt')
INSERT [dbo].[DongSanPham] ([MaDSP], [TenDong], [MaHSX], [MaLSP]) VALUES (N'dellXps', N'Dell Xps', N'dell', N'lap')
INSERT [dbo].[DongSanPham] ([MaDSP], [TenDong], [MaHSX], [MaLSP]) VALUES (N'ipX', N'Iphone X', N'apple', N'dt')
INSERT [dbo].[GiaoHang] ([MaHoaDon], [MaCuaHang], [MaNVGH], [NgayGiaoHang], [TinhTrangGH]) VALUES (N'00007', N'cs1', N'012', CAST(0xDE3E0B00 AS Date), N'Đang Giao Hàng')
INSERT [dbo].[GiaoHang] ([MaHoaDon], [MaCuaHang], [MaNVGH], [NgayGiaoHang], [TinhTrangGH]) VALUES (N'aa', N'cs2', N'013', CAST(0xE13E0B00 AS Date), N'Đã Giao Hàng')
INSERT [dbo].[GiaoHang] ([MaHoaDon], [MaCuaHang], [MaNVGH], [NgayGiaoHang], [TinhTrangGH]) VALUES (N'hd0003', N'cs2', N'012', CAST(0xDD3E0B00 AS Date), N'Đang Giao Hàng')
INSERT [dbo].[HoaDon] ([MaHoaDon], [MaKH], [MaNV], [MaCuaHang], [TinhTrang], [HTGiaoHang], [NgayLapHD]) VALUES (N'00007', N'2', N'thungan1', N'cs1', 0, N'Giao Hàng', CAST(0xDE3E0B00 AS Date))
INSERT [dbo].[HoaDon] ([MaHoaDon], [MaKH], [MaNV], [MaCuaHang], [TinhTrang], [HTGiaoHang], [NgayLapHD]) VALUES (N'aa', N'1', N'thungan2', N'cs2', 1, N'Giao Hàng', CAST(0xE13E0B00 AS Date))
INSERT [dbo].[HoaDon] ([MaHoaDon], [MaKH], [MaNV], [MaCuaHang], [TinhTrang], [HTGiaoHang], [NgayLapHD]) VALUES (N'af', N'1', N'thungan2', N'cs2', 0, N'Giao Hàng', CAST(0xE13E0B00 AS Date))
INSERT [dbo].[HoaDonNhapHang] ([MaHoaDonNH], [MaNV], [NgayNhapHang]) VALUES (N'00001', N'002', CAST(0xB23E0B00 AS Date))
INSERT [dbo].[HoaDonNhapHang] ([MaHoaDonNH], [MaNV], [NgayNhapHang]) VALUES (N'00002', N'002', CAST(0x6F300B00 AS Date))
INSERT [dbo].[HoaDonNhapHang] ([MaHoaDonNH], [MaNV], [NgayNhapHang]) VALUES (N'00003', N'nam', CAST(0xD83E0B00 AS Date))
INSERT [dbo].[HSX] ([MaHSX], [TenHSX]) VALUES (N'a', N'a')
INSERT [dbo].[HSX] ([MaHSX], [TenHSX]) VALUES (N'apple', N'Apple')
INSERT [dbo].[HSX] ([MaHSX], [TenHSX]) VALUES (N'dell', N'Dell')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DiaChi], [SDT]) VALUES (N'1', N'Phan Thanh Nam', N'1 Võ Văn Ngân', N'01231232423')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DiaChi], [SDT]) VALUES (N'2', N'Lâm Phước Bảo', N'2 Võ Văn Ngân', N'0923423423')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DiaChi], [SDT]) VALUES (N'3', N'Nguyễn Thiên Quốc', N'nguyễn Văn Cừ', N'01231241434')
INSERT [dbo].[KhoHang] ([MaKieu], [MaCuaHang], [SoLuong]) VALUES (N'abc1', N'cs1', 0)
INSERT [dbo].[KhoHang] ([MaKieu], [MaCuaHang], [SoLuong]) VALUES (N'abc1', N'cs2', 63)
INSERT [dbo].[KhoHang] ([MaKieu], [MaCuaHang], [SoLuong]) VALUES (N'abc1', N'ts', 25)
INSERT [dbo].[LoaiNV] ([MaLoaiNV], [TenLoaiNV]) VALUES (N'admin', N'Admintrastor')
INSERT [dbo].[LoaiNV] ([MaLoaiNV], [TenLoaiNV]) VALUES (N'bh', N'Nhân viên bán hàng')
INSERT [dbo].[LoaiNV] ([MaLoaiNV], [TenLoaiNV]) VALUES (N'bv', N'Bảo vệ')
INSERT [dbo].[LoaiSP] ([MaLSP], [TenLSP]) VALUES (N'dt', N'Điện Thoại')
INSERT [dbo].[LoaiSP] ([MaLSP], [TenLSP]) VALUES (N'lap', N'Laptop')
INSERT [dbo].[LoaiTaiKhoan] ([MaLoaiTK], [TenLoaiTK]) VALUES (N'admin', N'Admintrastor')
INSERT [dbo].[LoaiTaiKhoan] ([MaLoaiTK], [TenLoaiTK]) VALUES (N'qlch', N'Quản li cửa hàng')
INSERT [dbo].[LoaiTaiKhoan] ([MaLoaiTK], [TenLoaiTK]) VALUES (N'qlk', N'Quản lí kho hàng')
INSERT [dbo].[MauSP] ([MaMau], [Mau]) VALUES (N'black', N'Đen')
INSERT [dbo].[MauSP] ([MaMau], [Mau]) VALUES (N'blue', N'Xanh biển')
INSERT [dbo].[MauSP] ([MaMau], [Mau]) VALUES (N'coral blue', N'Xanh da trời (Coral Blue)')
INSERT [dbo].[NhanVien] ([MaNV], [MaCuaHang], [MaLoaiNV], [TenNV], [GioiTinh], [DiaChi], [SDT], [Luong]) VALUES (N'001', N'ts', N'admin', N'Admin', N'nam', NULL, NULL, NULL)
INSERT [dbo].[NhanVien] ([MaNV], [MaCuaHang], [MaLoaiNV], [TenNV], [GioiTinh], [DiaChi], [SDT], [Luong]) VALUES (N'002', N'ts', N'qlk', N'Phan Thanh Nam', N'nam', NULL, N'01232333232', CAST(10000000 AS Decimal(18, 0)))
INSERT [dbo].[NhanVien] ([MaNV], [MaCuaHang], [MaLoaiNV], [TenNV], [GioiTinh], [DiaChi], [SDT], [Luong]) VALUES (N'003', N'ts', N'qlns', N'Lâm Phước Bảo', N'nam', NULL, N'43432342342', CAST(10000000 AS Decimal(18, 0)))
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [CPU], [Ram], [BoNhoTrong], [BoNhoNgoai], [Sim], [ManHinh], [DungLuongPin], [Camera], [CardManHinh], [OS], [Port], [TrongLuong], [ThongTinKhac], [MaDSP], [NămSX]) VALUES (N'abc', N' abc', N' ', N' ', N' ', N' ', N' ', N' ', N' ', N' ', N' ', N' ', N' ', N' ', NULL, N'AB', N' 2018')
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [CPU], [Ram], [BoNhoTrong], [BoNhoNgoai], [Sim], [ManHinh], [DungLuongPin], [Camera], [CardManHinh], [OS], [Port], [TrongLuong], [ThongTinKhac], [MaDSP], [NămSX]) VALUES (N'ipX256', N'Iphone X 256 GB', N'Apple A11 Bionic 6 nhân', N'3 GB', N'256 GB', N'Không hổ trợ', N'1 sim nano', N'OLED, 5.8", Super Retina', N'2716 mAh, có sạc nhanh', N'Camera sau:2 camera 12 MP
,Camera trước:7 MP', N'', N'IOS 11', N'Lightning,không Jac 3.5', N'174 g', N'	Nhận diện khuôn mặt Face ID, 	3D Touch', N'ipX', N'09/2017')
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [CPU], [Ram], [BoNhoTrong], [BoNhoNgoai], [Sim], [ManHinh], [DungLuongPin], [Camera], [CardManHinh], [OS], [Port], [TrongLuong], [ThongTinKhac], [MaDSP], [NămSX]) VALUES (N'ipX64', N'Iphone X 64GB', N'Apple A11 Bionic 6 nhân', N'3 GB', N'64 GB', N'Không hổ trợ', N'1 sim nano', N'	OLED, 5.8", Super Retina', N'2716 mAh, có sạc nhanh', N'Camera sau:2 camera 12 MP
,Camera trước:7 MP', N'', N'IOS 11', N'Lightning,không Jac 3.5', N'174 g', N'	Nhận diện khuôn mặt Face ID, 	3D Touch', N'ipX', N'09/2017')
INSERT [dbo].[TaiKhoan] ([UserName], [Password], [MaCuaHang], [MaLoaiTK]) VALUES (N'002', N'123', N'ts', N'qlk')
INSERT [dbo].[TaiKhoan] ([UserName], [Password], [MaCuaHang], [MaLoaiTK]) VALUES (N'admin', N'admin     ', N'ts', N'admin')
INSERT [dbo].[TaiKhoan] ([UserName], [Password], [MaCuaHang], [MaLoaiTK]) VALUES (N'baobao', N'123       ', N'ts', N'qlns')
ALTER TABLE [dbo].[ChiTietHDNhapHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHDNhapHang_ChiTietSP] FOREIGN KEY([MaKieu])
REFERENCES [dbo].[ChiTietSP] ([MaKieu])
GO
ALTER TABLE [dbo].[ChiTietHDNhapHang] CHECK CONSTRAINT [FK_ChiTietHDNhapHang_ChiTietSP]
GO
ALTER TABLE [dbo].[ChiTietHDNhapHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHDNhapHang_HoaDonNhapHang] FOREIGN KEY([MaHoaDonNH])
REFERENCES [dbo].[HoaDonNhapHang] ([MaHoaDonNH])
GO
ALTER TABLE [dbo].[ChiTietHDNhapHang] CHECK CONSTRAINT [FK_ChiTietHDNhapHang_HoaDonNhapHang]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_ChiTietSP] FOREIGN KEY([MaKieu])
REFERENCES [dbo].[ChiTietSP] ([MaKieu])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_ChiTietSP]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HoaDon1] FOREIGN KEY([MaHoaDon], [MaCuaHang])
REFERENCES [dbo].[HoaDon] ([MaHoaDon], [MaCuaHang])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_HoaDon1]
GO
ALTER TABLE [dbo].[ChiTietSP]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietSP_MauSP] FOREIGN KEY([MaMau])
REFERENCES [dbo].[MauSP] ([MaMau])
GO
ALTER TABLE [dbo].[ChiTietSP] CHECK CONSTRAINT [FK_ChiTietSP_MauSP]
GO
ALTER TABLE [dbo].[ChiTietSP]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietSP_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietSP] CHECK CONSTRAINT [FK_ChiTietSP_SanPham]
GO
ALTER TABLE [dbo].[DongSanPham]  WITH CHECK ADD  CONSTRAINT [FK_DongSanPham_HSX] FOREIGN KEY([MaHSX])
REFERENCES [dbo].[HSX] ([MaHSX])
GO
ALTER TABLE [dbo].[DongSanPham] CHECK CONSTRAINT [FK_DongSanPham_HSX]
GO
ALTER TABLE [dbo].[DongSanPham]  WITH CHECK ADD  CONSTRAINT [FK_DongSanPham_LoaiSP] FOREIGN KEY([MaLSP])
REFERENCES [dbo].[LoaiSP] ([MaLSP])
GO
ALTER TABLE [dbo].[DongSanPham] CHECK CONSTRAINT [FK_DongSanPham_LoaiSP]
GO
ALTER TABLE [dbo].[GiaoHang]  WITH CHECK ADD  CONSTRAINT [FK_GiaoHang_HoaDon] FOREIGN KEY([MaHoaDon], [MaCuaHang])
REFERENCES [dbo].[HoaDon] ([MaHoaDon], [MaCuaHang])
GO
ALTER TABLE [dbo].[GiaoHang] CHECK CONSTRAINT [FK_GiaoHang_HoaDon]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[KhoHang]  WITH CHECK ADD  CONSTRAINT [FK_KhoHang_CuaHang] FOREIGN KEY([MaCuaHang])
REFERENCES [dbo].[CuaHang] ([MaCuaHang])
GO
ALTER TABLE [dbo].[KhoHang] CHECK CONSTRAINT [FK_KhoHang_CuaHang]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_CuaHang] FOREIGN KEY([MaCuaHang])
REFERENCES [dbo].[CuaHang] ([MaCuaHang])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_CuaHang]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_LoaiNV] FOREIGN KEY([MaLoaiNV])
REFERENCES [dbo].[LoaiNV] ([MaLoaiNV])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_LoaiNV]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_DongSanPham] FOREIGN KEY([MaDSP])
REFERENCES [dbo].[DongSanPham] ([MaDSP])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_DongSanPham]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_CuaHang] FOREIGN KEY([MaCuaHang])
REFERENCES [dbo].[CuaHang] ([MaCuaHang])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_CuaHang]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_LoaiTaiKhoan] FOREIGN KEY([MaLoaiTK])
REFERENCES [dbo].[LoaiTaiKhoan] ([MaLoaiTK])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_LoaiTaiKhoan]
GO
USE [master]
GO
